<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>abrigo</title>

        <!-- lib leafletjs-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>


        <link rel="icon" href="./public/images/outline.svg" type="image/x-icon">
        <link rel="stylesheet" href="./public/css/style.css">
        <link rel="stylesheet" href="./public/css/animations.css">

        <link rel="stylesheet" href="./public/css/buttons.css">
        <link rel="stylesheet" href="./public/css/map.css">
        <link rel="stylesheet" href="./public/css/sidebar.css">
        <link rel="stylesheet" href="./public/css/page-center.css ">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet"> 

    </head>
    <body>
        <div id="page-center">
            <aside class="animate-rigth sidebar "> 
                <img src="./public/images/logo.svg" alt="hug" >
                <footer>
                    <button onclick="history.back()"> <img src="./public/images/back.svg" alt="voltar">
                    </button>
                </footer>
            </aside>
            <main class="center-details animate-appear with-sidebar">
                <img src="./public/images/dog-center.jpeg" alt="foto do centro de adocao" >
                <div class="images">
                    <button onclick="selectImage(event )" class="active" type="" alt="centro de dog" >
                        <img src="https://source.unsplash.com/random?id=1" alt="centro de dog" >

                    </button>

                    <button onclick="selectImage(event)"  type="button">
                        <img src="https://source.unsplash.com/random?id=2" alt="centro de dog" >

                    </button> 

                    <button onclick="selectImage(event)"  type="button">
                        <img src="https://source.unsplash.com/random?id=3" alt="centro de dog" >

                    </button> 

                    <button onclick="selectImage(event)"  type="button">
                        <img src="https://source.unsplash.com/random?id=4" alt="centro de dog" >

                    </button>

                    <button onclick="selectImage(event)"  type="button">
                        <img src="https://source.unsplash.com/random?id=5" alt="centro de dog" >

                    </button> 

                    <button onclick="selectImage(event)" type="button">
                        <img src="https://source.unsplash.com/random?id=6" alt="centro de dog" >

                </div>
                <div class="center-details-content">
                    <h1>lar dos dogs</h1>
                    <p>
                        Doação de cachorros e gatos que tem apoio da comunidade local                    </p>
                
                    <div class="map-container">
                        <div id="mapid"></div>
                        <footer>
                            <a href=""> Ver rotas no Google Maps</a>
                        </footer>
                    </div>
                    <hr>
                    <h2>Instruções para visita</h2>
                    <p>venha e leve muito amor para sua casa</p>
                    <div class="open-details">
                        <div class="hour">
                            <img src="./public/images/time.svg" alt="horarios" srcset="">
                            Horario de funcionamento Das 8h as 18h
                        </div>
                        <div class="open-on-weekends">
                            <img src="./public/images/info.svg" alt="informações" srcset="">
                            Funcionamos dos fins de semanas
                        </div>
                    </div>    
                    <button class="primary-button" type="button">
                        <img src="./public/images/whatsapp.svg" alt="chamar no whatsapp" srcset="">
                        Entrar em contato
                    </button>
                    
                </div>
            </main>

        </div>
        <script src="./public/scripts/page-center.js"></script>
    </body>
</html>