<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hug</title>
        <link rel="icon" href="/images/outline.svg" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/animations.css">
        <link rel="stylesheet" href="/css/page-lading.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet"> 

</head>
    <body>
        <div id="page-landing">
            <div id="container">
                <header>
                    <img
                        class="animate-up" 
                        id="logo"
                        src="/images/logo.svg" 
                        alt="logo marca de hug">
                    <div class="location animate-up"  >
                        <strong>Campina grande</strong>
                        <p>Paraíba</p>
                    </div>
                </header>
                <main>
                    <h1 class="animate-up" >Leve felicidade para a sua casa</h1>
                    <section class="visit">
                        <p class="animate-up" >adote um pet e transforme a sua vida</p>
                        <a  class="animate-up"  href="centers.html" title="visite um abrigo de animais">
                            <img src="/images/Arrow 1.svg"  alt="">
                        </a>
                    </section>
                </main>
                
            </div>
        </div>
    </body>
</html>